.container
      .jumbotron
        
        h1(style="color: #FE6600;")
          img(src="img/orange_40px.png") 
          |&nbsp;empreinte de mouvement


        h2 Bonjour 
          = conf.firstName
          | &nbsp;
          = conf.lastName
    
        p Matérialisons ensemble la Ville Numérique et découvrez votre empreinte de mouvement ! De quoi s'agit-il ? Cette expérimentation va vous permettre de découvrir votre empreinte de mouvement dans la ville. Explorez avec nous comment vos données numériques se matérialisent à travers un objet tangible, définissant votre empreinte de mouvement, générée par vos mouvements physiques dans la ville.
