doctype html
html(lang="fr")
  head
    include head
  body
    include header
    .container
      .jumbotron
        p Aucune données de géolocalisation n'ont été trouvées dans votre espace personnel. Vous n'êtes peut-être pas client mobile Orange. Vous ne pourrez malheureusement pas profiter du service Empreinte.
    
      .text-center
        img(src="img/julien.jpg")
